.bgcolor{
    /*background-color: #dd6086;*/
    background-color: #EB79BD;
}
/* ---------- estilo botones circulares  --------- */
.circulo-img{
    height: 70%;
    width: auto;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
    margin-left: 20%;
    padding: 10%;
    cursor: pointer;
}
.circulo-imgbut{
    height: 70%;
    width: auto;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
    /* margin-left: 20%; */
    padding: 1%;
    cursor: pointer;
}
.mini-img{
    width: 9%;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
    /* cursor: pointer; */
}
.showbtn{
    display: inline-block;
}
.icono-privacy{
    height: 30%;
}
/* ---------- estilo general para view-register view-home  --------- */
button{
    cursor: pointer;
}
input{
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Oswald', sans-serif;
    height: 30%;
    font-size: 120%;
    width: 80%;
}
.principal-button{
    width: 40%;
    margin-top: 0%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    font-family: 'Oswald', sans-serif;
    font-size: 110%;
    background-color: #F991CF;
}
.subtitle{
    font-family: 'Oswald', sans-serif;
    font-size: 145%;
    text-align:center;
    margin-bottom: 1%;
    margin-top: 1%;
}
#just-link{
    color: #111;
    text-align: center;
    /* margin-left: 35%;
    margin-right: 35%; */
    font-family: 'Oswald', sans-serif;
}
.lil-text{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 90%; 
    color: #111;
}
.links-on-buttons{
    text-decoration: none;
    color: #111;
}
#face{
    width:15%;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 4%;
    cursor: pointer;
}
#gmail{
    width:14%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 30%;
    cursor: pointer;
}
.showWindow{
    /* height: 20%; */
    position: absolute;
    right: 7%;
    top: 50%;
    width: fit-content;
    height: fit-content;
    padding: 2%;
    background-color: khaki;
    color: #222;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    text-align: center;
}
/* -------------- estilo general para header  -------------- */
header{
    width: 100%;
    background-color:  #6CD3FF;;
    text-align: center;
    display: inline-block;
}
.btn-header{
    /* margin-left: 85%; */
    left: 88%;
    right: 3%;
    top: 40%;
    bottom: 14%;
}
.fa-sign-out-alt:before {
    content: "\f2f5";
    color: #EB79BD;
    font-size: 250%;
}
.fa-user-edit:before {
    content: "\f4ff";
    color: #EB79BD;
    font-size: 230%;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.logo-header{
    height: 50px;
}

/* --------- estilos generales datos del usuario ------------ */
.circulo{
    width:100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.15);
}
.circulo-profile{
    width: 100px;
    /* height: 100px; */
    border-radius: 100%;
    border: 4px solid #FFFFFF;
}
.circulo > .img-circulo{
    width:100%;
    height: 100%;
    border-radius: 100%;
}
.circulo-min {
    width: 44px;
    margin: 2%;
    height: 44px;
    border-radius: 100%;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.15);
    margin-bottom: 15%;
}

#user-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: #6CD3FF;
    /* justify-content: center; */
}
.user-name{
    
}
.user-name-profile{
    text-align: center;
}
/* -------------- estilos generales para post --- -------------- */
.post, .user{
    padding: 0% 1%;
}
#post-new{
    box-sizing: border-box;
    /*background-color:rgb(245, 236, 236);*/
    background-color: #F8E0E0;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}
.post-format{
    background-color: #FAFAFA;
    font-size: 100%;
    color: #333333;
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 4px;
    /* flex-wrap: wrap-reverse; */
}
select {
    width: 30%;
    padding: 1%;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline-style: none;
    background-color:rgba(245, 236, 236, 0.5);
    justify-self: right;
}
.select-edited{
    width: 15%;
    /* height: 40%; */
    margin-left: 7%;
    border-bottom: 100%;
    padding: 0%;
}
.new-state{
    padding-left: 1%;
    font-size: 100%;
    padding-top: 4%
}
textarea{
    color:#454546;
    margin: 2% 0%;
    resize:none;
    overflow: auto;
    padding: 1%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline-style: none;
    width:100%;
}
#post-btn-publish{
    letter-spacing: .75px;
    width: 50%;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 4px 4px #fcf3d7;
    color:#FCF3D7;
}
.post-buttoms{
    display: flex;
    justify-content: space-between;
}
article.post-format{
    margin-top: 1%;
}
#post-published{
    font-size: 90%;
    margin: 1% 0%;
}
.only-lines{
    border-left: none;
    border-right: none;
    border-top-color:#c1c1c1;
    border-bottom-color: 1px solid #C1C1C1;
    border-radius: 0px;
}

.post-show-like-comments{
    padding: 1% 3%;
    background-color: #DFF2FA;
}
.post-date{
    content:none;

}
p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h4 {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#right-div{
    float: right;
}
@media only screen and (max-width: 768px) {
    body{
        padding-top: 0%;
        background-color: #E5E5E5;
    }
    .view-register{
        box-sizing: border-box;
        border-radius: 20px;
        margin:7%;
        padding:6%;
        background-color: #fff;
    }
    .logo{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 1%;
        width: 70%; 
    }
    #texto{
        display:none;
    }
    #dance{
        margin-top: 0%;
        margin-right: 20%;
        margin-left: 20%;
        width: 60%;
    }
    .subtitle{
        font-family: 'Oswald', sans-serif;
        font-size: 145%;
        text-align:center;
        margin-bottom: 1%;
        margin-top: 1%;
    }
    .main-icons{
        color: rgb(41, 40, 40);
        width: 200%;
    }
    #extraEdits{
        padding-top: 35%;
        padding-bottom: 30%;
    }
 /*========== post ========== */
    section{
        width: 100%;
        box-sizing: border-box;
        /* background-color: #EDF1EB; */
    }
    .view-wall{
        background-color:#E5E5E5;
        box-sizing: border-box;
        padding: 1% 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .showWindow{
        right: 1%;
        margin-left: 2%;
    }
    /* .fa-sign-out-alt:before {
        padding-left: 120%;
    } */
    .logo-header {
        height: 30px;
        /* padding-right: 5%;
        padding-left: 18%; */
    }
    .circulo-profile{
        margin-top: 5%;
    }
}